# Quiz 4

<font size='4'>

BIOS-584<br>
Nov 21, 2025

* Write down your name in a Markdown section.

Temi Falae

In [1]:
import numpy as np
import pandas as pd
import os

## Preliminary

<font size='4'>
    
* There are six files stored under `Your own GitHub repository/data/Quiz4`.
* Import those six files using relevant functions in `Pandas`.

In [6]:
df1 = pd.read_csv("data/Quiz4/data_1.txt", sep=",")
df2 = pd.read_csv("data/Quiz4/data_2.txt", sep=",")
df3 = pd.read_csv("data/Quiz4/data_3.txt", sep=",")
df4 = pd.read_csv("data/Quiz4/data_4.txt", sep=",")
df5 = pd.read_csv("data/Quiz4/data_5.txt", sep=",")
df6 = pd.read_csv("data/Quiz4/data_6.txt", sep=",")

for df in dfs:
    print(df.columns)

Index(['study_id,measure_date,duration'], dtype='object')
Index(['study_id,measure_date,duration'], dtype='object')
Index(['study_id,measure_date,duration'], dtype='object')
Index(['study_id,measure_date,duration'], dtype='object')
Index(['study_id,measure_date,duration'], dtype='object')
Index(['study_id,measure_date,duration'], dtype='object')

## Import Data

<font size='4'>

* Three lists named `study_id_ls`, `measure_date_ls`, and `duration_ls` have been initialized.
* Write a for loop to extract and append the values of `study_id`, `measure_date`, and `duration` to `study_id_ls`, `measure_date_ls`, and `duration_ls`, respectively.

In [7]:
study_id_ls = []
measure_date_ls = []
duration_ls = []

dfs = [df1, df2, df3, df4, df5, df6]

for df in dfs:
    study_id_ls.extend(df["study_id"].tolist())
    measure_date_ls.extend(df["measure_date"].tolist())
    duration_ls.extend(df["duration"].tolist())

<font size='4'>

* Create a new Pandas Dataframe combining three lists and name it `input_df`.

In [8]:
input_df = pd.DataFrame({
    "study_id": study_id_ls,
    "measure_date": measure_date_ls,
    "duration": duration_ls
})

<font size='4'>

* Show or print `input_df`

In [10]:
input_df

   study_id measure_date  duration
0         1   2025-01-01       100
1         1   2025-03-01       300
2         1   2025-02-01       200
3         1   2025-11-01        25
4         1   2025-11-01        20
5         1   2025-11-03        30

## Data Manipulation

<font size='4'>

* Reorder the dataframe by `measure_date` (earliest to latest) and then by `duration` (shortest to longest).

In [11]:
input_df = input_df.sort_values(by=["measure_date", "duration"], ascending=[True, True])

<font size='4'>

* Create a new column called `relative_time` by calculating the time difference in days between each of the measure date and the earliest one.

In [13]:
input_df["measure_date"] = pd.to_datetime(input_df["measure_date"])
input_df["relative_time"] = (input_df["measure_date"] - input_df["measure_date"].min()).dt.days

input_df.head()

   study_id measure_date  duration  relative_time
0         1   2025-01-01       100              0
2         1   2025-02-01       200             31
1         1   2025-03-01       300             59
4         1   2025-11-01        20            304
3         1   2025-11-01        25            304

<font size='4'>

* Reset the index column and remove the old index.

In [14]:
input_df = input_df.reset_index(drop=True)
input_df.head()

   study_id measure_date  duration  relative_time
0         1   2025-01-01       100              0
1         1   2025-02-01       200             31
2         1   2025-03-01       300             59
3         1   2025-11-01        20            304
4         1   2025-11-01        25            304

## Final Data Visualization
<font size='4'>
    
* Display the final `input_df`.

In [15]:
print(input_df)

   study_id measure_date  duration  relative_time
0         1   2025-01-01       100              0
1         1   2025-02-01       200             31
2         1   2025-03-01       300             59
3         1   2025-11-01        20            304
4         1   2025-11-01        25            304
5         1   2025-11-03        30            306